{
  "presets": ["@babel/preset-env", "@babel/typescript", "@babel/react"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    ["styled-jsx/babel", {"optimizeforspeed": false}]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
